@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="informationalDiv">
    <h2>Welcome to our Burger app!</h2>
    <h3>So far we have served @Model.NumberOfOrders orders.</h3>
    <h3>Our average order price is @Model.AverageOrderPrice MKD</h3>
</div>
