#warningMessage{
    margin: auto;  
    width: 400px;
    display: none;
}

#btnDiv{
    align-self: center;
}

#populatedDiv{
    margin: auto;
    width: 18rem;
}

#errorMessage{
    margin: auto;
    height: 50px;
    visibility: hidden;
}

#successMessage{
    margin: auto;
    height: 50px;
    display: none;
}

#failedMessage{
    margin: auto;
    height: 50px;
    display: none;
}

#delete{
    margin: auto;  
    width: 600px;
    padding: 10px;
    border: 2px solid black;
}